.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;
  max-width: 55%;
}

@media only screen and (max-width: 1200px) {
  #header {
   max-width: 85%;
   height: auto;
   
  }
}

#header h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-bottom: 4rem;
  text-align: center;
}

#header h1 {
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  #header h1 {
    font-size: 30px;
    margin-top: 10rem;
    text-align: center;
  }
  #header h3 {
    text-align: center;
    font-size: 22px;
  }
}

.cta-text{
  max-width: 75%;
}

.learn-more {
  width:75%;
  display: flex;
  justify-content: space-between;
}

#header aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
#header aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

}
#header aside h4 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333333;
}

#header aside ul {
  display: flex;
  list-style: none;
  font-size: 1.15rem;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  #header aside ul {
    flex-direction: column;
    align-items: center;
  }
}

#header aside li {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 17rem;
  padding-top: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width: 1200px) {
  #header aside li {
   width: 100%;
   margin-bottom: 4rem;
  }
}

#header aside li:hover {
 transform: scale(1.03);
}

#header aside ul a {
  text-decoration: none;
  color: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
}



#header aside li h2 {
  margin: 0;
}

#header aside li img {
  padding-right: 0.8rem;
}

#header aside li aside {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
}


/* 

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radar aside,
footer aside {
  align-items: flex-start;
}

.bg {
  background-image: url("../../assets/images/hubble.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: -2;
}

.benefit-cards {
  width: 60%;
}

.benefits .title {
  color: var(--color-1);
}

ea-services {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

app-ea-industries {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.expandable {
  height: 50vh;
  background: var(--background-2)
}

.industries {
  min-height: 50vh;
  background: var(--background-1)
}

.title .cover {
  background: var(--background-1)
}

.case-studies {
  width: 100%;
  flex-wrap:wrap;
} */
