<app-nav></app-nav>
<section class="main">
  <main id="header">
      <h1>EA Mode enables faster business transformation</h1>
      <h3>EA Mode offers consulting services guided by our lightweight MODE methodology, 
        a collection of best practices for modern business process management and 
        integrated enterprise architecture.   We use our expertise to walk
        Fortune 100 and NASDAQ listed clients through digital
        transformation initatives.</h3>
       <aside>
        <ul>
          <li>
            <a href="#services-documentation">
              <h2>Documentation</h2>
              <p class="cta-text">Full end-to-end process documentation. Available in your secure process repository.</p>
              <!-- <div class="learn-more">
                <span>Learn More</span>
                <img src="../../assets/images/arrow.svg" alt="">
              </div> -->
            </a>
          </li>
          <li>
            <a href="#studies">
              <h2>MODE Platform</h2>
              <p class="cta-text">Analytics, alerts, and (enterprise-wide) process orchestration, done with less.</p>
              <!-- <div class="learn-more">
                <span>Learn More</span>
                <img src="../../assets/images/arrow.svg" alt="">
              </div> -->
            </a>
            </li>
            <li>
              <a href="#sdlc">
                <h2>Development</h2>
                <p class="cta-text">Managed Software Dvelopment Life Cycle (SDLC) from concept to implementation. </p>
                <!-- <div class="learn-more">
                  <span>Learn More</span>
                  <img src="../../assets/images/arrow.svg" alt="">
                </div> -->
              </a>
              </li>
        </ul>
       </aside>
  </main>

</section>

<!-- <section id="services-documentation" class="radar">
  <div  class="title services">
    <img src="../assets/images/line.svg" alt="">
    <span class="section-title">Business Process Documentation</span>
  </div>
  <main>
    <ea-services></ea-services>
  </main>

</section> -->
<!-- 
<section id="studies" class="industries">
  <div class="title services">
    <img src="../assets/images/line.svg" alt="">
    <span class="section-title">Business Process Analytics</span>
  </div>
  <main class="case-studies">
    <app-ea-industries></app-ea-industries>
  </main>
</section> -->


<!-- <ea-open></ea-open> -->

<!-- <section id="team" class="benefits">
  <div class="title team">
    <div class="cover"></div>
    <img src="../assets/images/line.svg" alt="">
    <span>The eaTeam</span>
  </div>
  <main class="benefit-cards">
    <ea-card></ea-card>
  </main>
</section> -->
<section class="team">
  <app-team></app-team>
</section>
