<section id="documentation">
  <div class="offering">
      <h3>central Source of truth</h3>
      <h2>Organize your enterprise into one, central repository of all your process documentation.</h2>
      <ul>
          <li>
            <img src="../../assets/images/e2e.svg" alt="">
            <div>Review and documentation of existing standards</div>
          </li>
          <li>
            <img src="../../assets/images/standardization.svg" alt="">
            <div>Organization-wide standardization and integration strategy</div>
          </li>
          <li>
              <img src="../../assets/images/target.svg" alt="">
              <div>KPI measurement and implementation plan</div>
            </li>
        </ul>
  </div>
  
  <img class="value-image" src="../../assets/images/documentation.svg" alt="">

</section>