.footer-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
}



footer {
  height: 25vh;
  background: linear-gradient(#3B3B3B, #1d1d1d);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer aside {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}

@media (--small-screen) {
  footer aside {
    text-align: center;
  }
  
}

footer main li:nth-child(1){
  font-size: 22px;
  }
  
  footer main {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }
  
  footer aside h2 {
    margin: 0;
    width: 100%
  }
  
  footer main ul {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

    
  footer main li {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  footer main li a {
    text-decoration: none; 
    color: white; 
    font-size: 20px;
  }

.socials-bg{ 
  display: flex;
  justify-content: space-between;
  background: #272727;
  justify-content: center;
}

.socials-icons {
  width: 8.5%;
}


.socials-bg main {
  max-width: 85%;
  width: 65%;
  display: flex;
  justify-content: space-between;
  height: 7vh;
  align-items: center;
  color: white;
}



@media only screen and (max-width: 600px) {
  .hide-sm {
      display: none !important;
  }
}