
<footer>
  <div class="footer-container">
    <aside>
      <h2>eaMode</h2>
      <h3>Building the self-aware enterprise</h3>
    </aside>
    <main class="hide-sm">
      <ul>
        <li>Resources</li>
        <li><span class="hvr-underline-from-center"> <a style="text-decoration: none; color: white;" href="https://eang.io"> eang</a></span></li>
      </ul>
      <!-- <ul>
        <li>Case Studies</li>
        <li><span class="hvr-underline-from-center"> <a style="text-decoration: none; color: white;" href="#studies"> Healthcare </a></span></li>
        <li><span class="hvr-underline-from-center"><a style="text-decoration: none; color: white;" href="#studies">Enterprise Apps</a></span></li>
        <li><span class="hvr-underline-from-center"><a style="text-decoration: none; color: white;" href="#studies">Real-time Reporting</a></span></li>
      </ul> -->
      <ul>
        <li>Services</li>
        <li><span class="hvr-underline-from-center"> <a href="#services-documentation">Process Consulting</a></span></li>
        <li><span class="hvr-underline-from-center"><a href="#sdlc">Software Consulting</a></span></li>
      </ul>
      <!-- <ul>
        <li>Connect</li>
        <li><span class="hvr-underline-from-center">Twitter</span></li>
        <li><span class="hvr-underline-from-center">Blog</span></li>

      </ul> -->
    </main>
  </div>
</footer>
<section class="socials-bg">
  <main>
    <div>EA Mode, LLC</div>
    <div class="socials-icons">
      <img src="../../assets/images/github-white.svg" alt="">
    </div>
  </main>
</section>
